# Core dependencies
scrapy  # Web scraping framework
pandas  # Data manipulation and analysis

# Additional modules
lxml  # For parsing HTML and XML
evpn  # Verify this package and add correct installation details

# Use below command to install above modules
# pip install -r mvd_tj_tajikistan_requirements.txt